/* 第一页动画效果开始  */
/*灯笼动画*/
@-webkit-keyframes p1-covers_lantern {
  0% {
    top: -3.46666667rem;
    left: -4.35555556rem;
    opacity: 0;
  }
  100% {
    top: -0.86666667rem;
    left: -1.17777778rem;
    opacity: 1;
  }
}
.p1-covers_lantern {
  /*-webkit-animation: p1-covers_lantern 2s;*/
  /*-webkit-animation-fill-mode: forwards;*/
}
/*灯谜刮起向左划出动画
@-webkit-keyframes p1-maintit1{
	0%{
		right: -14rem;
		-webkit-transform: skewX(40deg);
	}
	70%{
		-webkit-transform: skewX(20deg);
	}
	100%{
		right: 183/@r;
		-webkit-transform: skewX(0);
	}
}
.p1-maintit1{
	-webkit-animation:p1-maintit1 2s;
	-webkit-animation-fill-mode : forwards;  
}
*/
/*logo部分*/
@-webkit-keyframes p1-logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
.p1-logo {
  -webkit-animation: p1-logo 1s linear;
  -webkit-animation-fill-mode: forwards;
}
/*第二个页面*/
@-webkit-keyframes p2-word1 {
  0% {
    opacity: 0;
    right: -12rem;
  }
  100% {
    opacity: 1;
    right: 1.86666667rem;
  }
}
.p2-word1 {
  -webkit-animation: p2-word1 0.8s linear;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes p2-word2 {
  0% {
    opacity: 0;
    left: -10.44444444rem;
  }
  100% {
    opacity: 1;
    left: 2.57777778rem;
  }
}
.p2-word2 {
  -webkit-animation: p2-word2 0.8s 0.3s linear;
  -webkit-animation-fill-mode: forwards;
}
/*第3个页面*/
@-webkit-keyframes p3-tangyuan2 {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.p3-tangyuan2 {
  -webkit-animation: p3-tangyuan2 2s;
  -webkit-animation-fill-mode: forwards;
}
