html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;/*去掉默认的滚动的条*/
}
#main,.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-wrapper .slide1{
    background-color: red;
}

.swiper-wrapper .slide2{
    background-color: #007aff;
}
.swiper-wrapper .slide3{
    background-color: blueviolet;
}