.wrap{
    position: relative;
    height: 100%;
    width: 100%;
    background:url("../img/index-bg.png")no-repeat;
    background-size: 100%;
}
.wrap .tag1-text{
    position: absolute;
    top:1.4rem;
    left: 0.67rem;
    width: 5.2rem;
    height: 3.5rem;
}
.wrap .tag2-text{
    position: absolute;
    top:1.4rem;
    left: 1.66rem;
    width: 3.5rem;
    height: 0.66rem;
}
.wrap .detail-text{
    position: absolute;
    top:6.30rem;
    left: 0.6rem;
    width: 3.2rem;
    height: 2.7rem;
}
.wrap .person{
    position: absolute;
    height: 5.0rem;
    width: 2.0rem;
    left: 4.02rem;
    top:4.56rem;
}
.wrap .btn{
    position: relative;
    top:5.54rem;
    left: 0.52rem;
    height: 0.27rem;
    width: 3.4rem;
    -webkit-animation:pulse 1s .2s ease infinite both;
    animation:pulse 1s .2s ease infinite both;
}

.wrap .btn .btn-text{
    display: inline-block;
    height: 0.27rem;
    width: 2.87rem;
    background:url("../img/index-btn-text.png")no-repeat;
    background-size: 100%;
}
.wrap .btn .arrows{
    margin-top: 0.05rem;
    height: 0.30rem;
    width: 0.50rem;
    float: right;
}
@-webkit-keyframes pulse{/*脉冲*/
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
@keyframes pulse{
    0%{ -webkit-transform:scale(1);
        transform:scale(1)}
    50%{ -webkit-transform:scale(1.1);
        transform:scale(1.1)}
    100%{ -webkit-transform:scale(1);
        transform:scale(1);}
}


