.wrap{
    padding-top: 1.22rem;
    color: #f1f4f7;
    position: relative;
    height: 100%;
    width: 100%;
    background:url("../img/bg-answers.png")no-repeat;
    background-size:cover;
}
.wrap .content{
    position: relative;
    border: 2px solid #0b598e;
    border-radius: 5px;
    width: 5rem;
    height: 8rem;
    margin: 0 auto;
    -webkit-box-shadow:inset 0 0 20px #0b598e;
    box-shadow:inset 0 0 23px #0b598e;
}
.wrap .content .tag{
    text-align: center;
    line-height: 0.4rem;
    margin: -0.2rem auto;
    border-radius: 3px;
    height: 0.4rem;
    width: 1.90rem;
    border: 1px solid #04bed0;
    font-size: 0.23rem;
    font-family: "仿宋 Std R";
    background: -webkit-linear-gradient(#249fd6, #00447c);
    background: linear-gradient(#249fd6, #00447c);
}
.wrap .content .list{
    position: absolute;
    bottom: 0.2rem;
    width: 4.58rem;
    height: 2.45rem;
    left: 0.2rem;
    /*background-color: #0b598e;*/
}
.wrap .content .list li{
    text-align: center;
    width: 4.58rem;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
    border: 1px solid #b0c9db;
    -webkit-box-shadow: 0 0 5px #b0c9db;
    box-shadow: 0 0 5px #b0c9db;
}