.wrap{
    position: relative;
    height: 100%;
    width: 100%;
    background:url("../img/bg-head.png")no-repeat;
    background-size: 100%;
}
.wrap .btn{
    position: relative;
    top:5.52rem;
    left: 0.5rem;
    height: 0.27rem;
    width: 2.87rem;
    border: none;
    background:url("../img/btn-text.png")no-repeat;
    background-size: 100%;
}