html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;/*去掉默认的滚动的条*/
}
#main,.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    position: relative;
}
.swiper-wrapper .slide1{
    background: url("../img/slide1-bg.jpg");
    background-size: 100%;
}

.swiper-wrapper .slide2{
    background: url("../img/text.jpg");
    background-size: 100%;
}
.swiper-wrapper .slide3{
    background: url("../img/last.jpg");
    background-size: 100%;
}
.move1 img{
    position: absolute;
}
.move1 .tag{
    width: 5.72rem;
    top: 1.1rem;
    left: 0.6rem;
}
.move1 .sign{
    width: 2.4rem;
    top: 3.5rem;
    left: 1.9rem;
    -webkit-animation:tada 1.2s 0.3s ease infinite both;
    animation:tada 1.2s 0.3s ease infinite both;
}
.move1 .bottom-text{
    width: 5.0rem;
    top: 7.68rem;
    left: 0.7rem;
}
.move1 .bottom-hand{
    width: 1.4rem;
    top: 8.9rem;
    left: 2.8rem;
}
.move3 img{
    position: absolute;
}
.move3 .again{
    width: 4.65rem;
    top:7.6rem;
    left: 0.9rem;
}
.move3 .again-next{
    width: 4.65rem;
    top: 8.5rem;
    left: 0.9rem;
}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1)}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg)}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}
    100%{-webkit-transform:scale(1) rotate(0deg)}
}
@keyframes tada{
    0%{transform:scale(1)}
    10%,20%{transform:scale(0.9) rotate(-3deg)}
    30%,50%,70%,90%{transform:scale(1.1) rotate(3deg)}
    40%,60%,80%{transform:scale(1.1) rotate(-3deg)}
    100%{transform:scale(1) rotate(0deg)}
}